<div>
    <h1>Seznam článků</h1>
</div>
<div>
    <?php foreach ($articles as $article): ?>
        <article>
            <h2><a href="/article/detail/view/<?= $article['article_id'] ?>"><?= $article['title'] ?></a></h2>
            <section><?= $article['description'] ?></section>
            <?php if ($loggedIn): ?>
                <a href="/article/all/delete/<?= $article['article_id'] ?>">Smazat</a>
            <?php endif ?>
        </article>
    <?php endforeach ?>
</div>