<head>

</head>
<body>
<header>
    <a href="/">Domů</a>
    <?php if (isset($sessionid)): ?>
        <span>Přihlášený: <?= $username ?></span>
        <a href="/article/edit/create">Přidat nový článek</a> |
        <a href="/user/login/logout">Odhlásit se</a>
    <?php else: ?>
        <a href="/user/login">Přihlásit se</a>
    <?php endif ?>
</header>
