<?php if (!empty($errors)): ?>
    <ul>
        <?php foreach ($errors as $error): ?>
            <li><?= $error ?></li>
        <?php endforeach; ?>
    </ul>
<?php endif ?>
<form method="post" action="/user/login/login">
    <label for="username">Jméno:</label><input type="text" name="username"><br>
    <label for="password">Heslo: </label><input type="password" name="password"><br>
    <input type="submit" value="Přihlásit se">
</form>